language: go
go:
  - 1.1
  - 1.2
  - 1.3
  - 1.4
  - 1.5
  - tip
before_install:
  - sudo pip install codecov
install:
  - go get github.com/user/montanaflynn/port
script:
  - go test
after_success:
  - codecov
notifications:
  email:
    recipients:
      - montana@montanaflynn.me
    on_success: change
    on_failure: always
